<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    <img class="image" src="1.jpg" id="image">
    <br>
    <div>
        <img srcset="sm.png" id="image1" class="img-responsive center-block" align="center">
    </div>
    <div class="container">

        <div class="wrapper">
            <div class="par col-sm-12 col-lg-12">

                <div>
                    <p> We are a dedicated team of professionals who share the common goal of betterment of India's youth.We
                        believe that the greatest asset this country has to offer is its' young population.
                    </p>


                </div>
                <div>
                    <p>We have been a trusted career advisory team,having experience of guiding students make informed career
                        choice over the last 2 decades.Besides our directing students to various available career choice.We
                        have also been continously involved in Research and Development of assessment,interventions and counselling
                        programs that help students,parents and teachers realise their true potential.</p>

                </div>

            </div>

        </div>
        <div class="icon">
            <h4>
                <span class="glyphicon glyphicon-calendar"></span> Date: December 2,2017 (Thursday) Time: 5.30pm| Venue:Webinar
            </h4>

            <img src="register button.png" id="image4">
        </div>



</body>

</html>