<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
        </script>
    <script src="js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration Form</title>
    <link rel="stylesheet" href="style4.css">
</head>

<body>

    <div classs="row">

        <img class="image" src="1.jpg" id="image" align="left">
        <img src="logo.png" id="image1" align="right">
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="par col-lg-3">
                    <img src="maam.png" class="img-responsive center-block" id="image2">
                    <h5>Dr. Itishree Misra
                        <br> Chief Knowledge Officer</h5>

                </div>
                <div class="contact col-lg-7">
                    <p>Dr. Itishree Misra holds a PhD. in Applied Psychology.She has an outstanding academic record in psychology
                        and was awarded Gold Medal in post-graduation.
                        <br>
                        <br> She has been a pioneer in developing various Psychometric tests and tools to help students to select
                        careers,known their Learining Style,Multiple Intelligence,Emotional Intelligence Quotient,Spiritual
                        Quotient etc. in Indian context.
                        <br>
                        <br> She has also worked for industry on assessment development,used for recruitment,talent development
                        and screen entrepreneurs.Her clients include organisations like Birla Soft,Venturist,Punjab Government,Nillennium
                        ventures amongst others.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="icon">
        <h4>
            <span class="glyphicon glyphicon-calendar"></span> Date: December 2,2017 (Thursday) Time: 5.30pm| Venue:Webinar
        </h4>
    </div>




</body>

</html>