<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
        </script>
    <script src="js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/style/style1100.css" type="text/css">
</head>

<body>
    <center>
        <h1 id="god">GOD SPEED</h1>
        <br>
        <br>
        <img class="image" src="/static/img/1.jpg" id="image12" align="center">
        <h2>Thank you for registering for the webinar. We would be sharing the webinar link with you by 5:00 pm on January 3,
            2017
        </h2>
        <br>
        <br>
        <br>
        <form>
            <button class="full">HOME</button>
        </form>
    </center>
</body>

</html>