<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
        </script>
    <script src="/static/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Webinar</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/style/style1100.css" type="text/css">
</head>

<body>

    <div class="container" id="container1">

        <img class="image" src="/static/img/1.jpg" id="image11">
        <br>
        <div>
            <img srcset="/static/img/sm.png" id="image00" class="img-responsive center-block" align="center">
        </div>

        <div class="wrapper" id="wrapper1">
            <div class="par col-sm-12 col-lg-12">



                <p>We have been a trusted career advisory team,having experience of guiding students make informed career choice
                    over the last 2 decades.
                    <br>Besides our directing students to various available career choice.We have also been continously involved
                    in Research and Development of assessment, interventions and counselling programs that help students,
                    parents and teachers realise their true potential.</p>



            </div>

        </div>

    </div>

    <div class="container" id="container2">

        <div class="wrapper" id="wrapper2">
            <div classs="row">
                <img class="image" src="/static/img/1.jpg" id="image12" align="">
                <img src="/static/img/logo.png" class="hidden-xs " id="image1" align="right">
            </div>
            <div class="par col-lg-8">

                <h1>
                    <b>Decoding Career Selection</b>
                    <br>
                    <img src="/static/img/2.jpg" id="image5" align="center">
                </h1>
                <ul>
                    <li>
                        <h5 id="heading5">An interactive session for
                            <br> school students & their parents.</h5>
                    </li>
                </ul>
                <div class="icon">
                    <h4>
                        <span class="glyphicon glyphicon-calendar"></span> Date: December 2,2017 (Thursday)
                        <br>Time: 5.30pm| Venue:Webinar
                    </h4>
                </div>
            </div>


            <div class="contact col-lg-4 col-md-4">

                <h3 align="center">Register Here</h3>
                <form action="{% url 'webapp:thankyou' %}" method="POST">{% csrf_token %}
                    <p>
                        <label>Name</label>
                        <input type="text" name="name" required>
                    </p>

                    <p>
                        <label>Email</label>
                        <input type="email" name="email" required>
                    </p>
                    <p>
                        <label>Phone no.</label>
                        <input type="text" name="phone" required>
                    </p>
                    <p>
                        <label>City</label>
                        <input type="text" name="city" required>
                    </p>
                    <p align="left">
                        <label>Profession</label>
                        <input type="text" name="profession" required>
                    </p>
                    <p class="full">
                        <input type="submit" value="SUBMIT" id="button">

                </form>
            </div>
        </div>

    </div>


    <div classs="row">

        <img class="image" src="/static/img/1.jpg" id="image12" align="">
        <img src="/static/img/logo.png" id="image1" class="hidden-xs" class="hidden-sm" align="right">
    </div>
    <div class="container" id="container3">
        <div class="wrapper" id="wrapper12">
            <div class="row">
                <div class="par col-lg-3 col-md-4 col-sm-4">
                    <img src="/static/img/mam pic.png" class="img-responsive center-block" id="image22">
                    <h5 id="heading5b">Dr. Itishree Misra
                        <br> Chief Knowledge Officer</h5>

                </div>
                <div class="contact col-lg-7 col-md-7 col-sm-7" id="paragraph3">
                    <p>Dr. Itishree Misra holds a PhD. in Applied Psychology.She has an outstanding academic record in psychology
                        and was awarded Gold Medal in post-graduation.
                        <br>
                        <br> She has been a pioneer in developing various Psychometric tests and tools to help students to select
                        careers,known their Learining Style,Multiple Intelligence,Emotional Intelligence Quotient,Spiritual
                        Quotient etc. in Indian context.
                        <br>
                        <br> She has also worked for industry on assessment development,used for recruitment,talent development
                        and screen entrepreneurs.Her clients include organisations like Birla Soft,Venturist,Punjab Government,Nillennium
                        ventures amongst others.</p>
                </div>
            </div>
        </div>


        <div class="icon">
            <h4>
                <span class="glyphicon glyphicon-calendar"></span> Date: December 2,2017 (Thursday) Time: 5.30pm| Venue:Webinar
            </h4>
        </div>
    </div>

</body>

</html>